@import '@styles/base';

.container {
  height: 25rem;
  width: 80rem;
  overflow-y: hidden;
  overflow-x: auto;
  @include apply-at-md-size {
    width: 100%;
  }
}
.tooltip {
  background-color: hsla(var(--hue), var(--saturation), var(--lightness), 0.75);
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-text-primary);
  direction: ltr;
  &__text {
    font-size: $font-size-small;
  }
}
