@import '@styles/base';

.container {
  @include flex-center-column(0.75rem);
  text-align: center;
  max-width: 75%;
  margin: 0 auto;
  position: relative;
  height: 100%;
  img {
    @include box(8rem);
    position: absolute;
    top: 0;
  }
  .title {
    @include flex-center-column;
    font-size: $font-size-large;
    font-weight: 700;
    margin-top: 6rem;
  }
  .description {
    font-size: $font-size-small;
  }
  .otp {
    @include flex-center-column(1rem);
    input {
      @include input;
    }
    .button {
      @include primary-button;
      font-size: $font-size-small;
      width: fit-content;
    }
  }

  .email {
    font-weight: 700;
    font-size: $font-size-regular;
  }
  .link {
    cursor: pointer;
    font-size: $font-size-small;
    color: var(--color-accent);
    &:hover {
      text-decoration: underline;
    }
  }
}
