@import '@styles/base';

.headerWrapper {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  .contentWrapper {
    @include directionX;
    color: var(--color-text-primary);
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    .left {
      @include flex-items-center(2rem);
      flex-direction: row;
      .logo {
        background-image: linear-gradient(to bottom, var(--color-primary), var(--color-accent));
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .toolbar {
      @include flex-items-center(1.5rem);
      .button {
        @include flex-items-center(1rem);
        &__secondary {
          font-size: $font-size-regular;
          display: none;
          border-color: var(--color-primary);
          color: $color-primary;
          @include apply-at-xs2-size {
            display: block;
          }
        }
        &__primary {
          display: none;
          font-size: $font-size-regular;
          @include apply-at-sm-size {
            display: block;
          }
        }
      }
      .misc {
        @include flex-items-center(0.25rem);
        background-color: hsla(var(--hue), var(--saturation), var(--lightness), 0.2);
        padding: 0 0.5rem;
        border-radius: 0.5rem;
      }
    }
  }
}
