@import '@styles/base';

.page {
  @include flex-center-column;
  margin-top: 2rem;
  margin-bottom: 8rem;
  .container {
    @include flex-center-column(1rem);
    width: 100%;
    @include apply-at-md-size {
      max-width: 50rem;
    }
    .nutrients {
      width: 100%;
      @include flex-center-column;
      @include apply-at-md-size {
        @include flex-row(4rem);
      }
      &__macro {
        @include flex-items-center(1.5rem);
        width: 75%;
        @include apply-at-sm-size {
          width: 50%;
        }
        @include apply-at-md-size {
          width: 15%;
          @include flex-center-column;
        }
      }
    }
    .meals {
      width: 100%;
      border: 1px solid var(--color-text-secondary);
      border-top: none;
    }
  }
}
