@import '@styles/base';

.profile {
  background-color: var(--color-bg-secondary);
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  @include flex-column(1rem);
  @include apply-at-md-size {
    width: 50%;
  }
  @include apply-at-lg-size {
    width: 60%;
  }
  &__header {
    @include flex-items-center(1rem);
    .avatar {
      @include box(6rem);
    }
    .identity {
      @include flex-column;
      .username {
        font-size: $font-size-large;
        font-weight: 500;
      }
      .email {
        color: var(--color-text-secondary);
        @include truncate(15rem);
        font-size: $font-size-regular;
        @include apply-at-xs2-size {
          max-width: 100%;
        }
        @include apply-at-md-size {
          max-width: 12rem;
        }
        @include apply-at-lg-size {
          max-width: 100%;
        }
      }
      .button {
        @include primary-button;
        width: fit-content;
        font-size: $font-size-small;
        margin-top: 0.5rem;
      }
    }
  }
  &__footer {
    @include flex-row(1rem);
    justify-content: space-between;
    .intake {
      &__label {
        font-size: $font-size-smaller;
        text-transform: uppercase;
        color: var(--color-text-secondary);
        font-weight: 500;
      }
      &__value {
        font-weight: 500;
        span {
          font-weight: 300;
          font-size: $font-size-smaller;
        }
      }
    }
  }
  .goal {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25rem 0.75rem;
    text-transform: capitalize;
    @include flex-items-center(0.25rem);
    font-size: $font-size-small;
    border-bottom-left-radius: 1.5rem;
    background-color: var(--color-bg-primary);

    svg {
      @include box(1rem);
      animation: shake 1.5s ease-in-out infinite;
    }
  }
  .gainColor {
    color: var(--color-primary);
  }
  .maintainColor {
    color: $color-fat;
  }
  .loseColor {
    color: $color-error;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(6deg);
  }

  10%,
  20% {
    transform: rotate(-6deg);
  }

  15%,
  25%,
  50% {
    transform: rotate(6deg);
  }

  30%,
  100% {
    transform: rotate(0deg);
  }
}
