$color-white: #fff;
$color-white-fade: rgba(255, 255, 255, 0.6);
$color-dark-blue: #001a41;
$color-light-blue: #e8eef1;

$color-text-primary: #070c03;
$color-text-secondary: #878b83;
$color-bg-primary: #f8fcf3;
$color-bg-secondary: #f1fae9;
$color-primary: #75ce36;
$color-secondary: #88e2bd;
$color-accent: #62dad6;

$color-dark-text-primary: #f7fcf3;
$color-dark-text-secondary: #7b7f76;
$color-dark-bg-primary: #080c03;
$color-dark-bg-secondary: #0e1505;
$color-dark-primary: #70c931;
$color-dark-secondary: #03ae41;
$color-dark-accent: #31fbb8;

$color-fat: #ffe07d;
$color-protein: #cc3366;
$color-carbs: #99cc66;

$color-error: #cc0000;
